<!doctype html>
<html>
<head>
    <title>Order Up!</title>
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>
  
  <a href="/"><img src="logo.gif" alt=""></a>

  <section class="container">
            <h2>Log-In</h2>
            
            <a href="/signup">Sign-Up</a> 
            
            <form action="/login" method="post">
                <input type="text" name="firstName" placeholder="First Name">
                <input type="text" name="lastName" placeholder="Last Name">
                <input type="text" name="email" placeholder="email">
                <input type="text" name="password" placeholder="password">
                <button type="submit">Submit</button>
            </form>
        
  </section>

 
<script src="main.js"></script>

</body>
</html>